.promo {
	width: 100%;
	background-color: var(--color-second);
}

.promo__wrapper {
	max-width: calc(1156px + 20px);
	padding: 120px 10px;
	margin: 0 auto;
	align-items: center;
	gap: 24px;

}

.promo__title {
	font-size: 48px;
	font-weight: 600;
	color: var(--color-white);
}

.promo__desc {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	color: var(--color-subtitle-white);
}

.promo__swiper {
	max-width: 1156px;
}

.promo__swiper-bg {
	max-width: 100%;
}

.promo__swiper {
	position: relative;
}

.promo__swiper-top {
	max-width: 50%;
	position: absolute;
	top: 0;
	left: -2px;
}

.promo-list__wrapper {
	gap: 70px;
	color: var(--color-white);
}

.promo-list {}

.promo-list__header {
	font-size: 24px;
	font-weight: 700;
	color: var(--color-white);
}

.promo-list__item {
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: var(--color-subtitle-white);
}

.promo-list__item-excel::before {
	content: '';
	position: absolute;
	display: inline-block;
	background: url('../images/icons/exclamation-circle.svg');
	transform: translateY(-50%);
	top: 50%;
	left: -32px;
	width: 24px;
	height: 24px;
}

.promo-list__item-finio::before {
	content: '';
	position: absolute;
	display: inline-block;
	background: url('../images/icons/check-circle.svg');
	transform: translateY(-50%);
	top: 50%;
	left: -32px;
	width: 24px;
	height: 24px;
}

.promo-list li:not(:last-child) {
	margin-bottom: 24px;
}

/* media */

@media (max-width: 979.98px) {
	.promo__wrapper {
		padding: 64px 0;
	}

	.promo__title {
		font-size: 36px;
	}

	.promo__desc {
		text-align: left;
	}

	.promo-list__wrapper {
		padding-left: 32px;
		flex-direction: column;
		gap: 48px;
	}
}