.tarifs {
	--font-white: #fff;
	--color-gray: rgba(78, 93, 124, 0.50);
	--color-gray2: #4E5D7C;
	--font-dark: #000;
	--active-denefit-bg: #1ABC9C;
	--active-bg: #357EFE;

	margin-top: 80px;
	margin-bottom: 80px;
	align-items: center;
	gap: 24px;
}

.tarifs__title {
	font-size: 48px;
	font-weight: 600;
	
	color: var(--color-dark);
}

.tarifs__subtitle {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 16px;
	color: var(--color-subtitle-gray);
}

.tarif-card__wrapper {
	gap: 24px;
}

.tarif-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 48px 40px;
	max-width: 370px;
	border-radius: 8px;
	gap: 24px;

	box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.16);
}

.tarif-card__benefit {
	padding: 4px 16px;
	background: none;
	border: none;
	border-radius: 8px;
	font-size: 15px;
	font-weight: 800;
	align-self: start;
	color: var(--font-white);
}

.tarif-card__benefit_active {
	background: var(--active-denefit-bg);
}

.tarif-card__header {
	font-size: 32px;
	font-weight: 800;
	color: var(--font-dark);
}

.tarif-card__desc {
	font-size: 17px;
	font-weight: 500;
	color: var(--color-gray);
}

.tarif-card__options {
	display: flex;
	flex-direction: column;
	margin: 26px 0 20px;
	font-size: 17px;
	font-weight: 500;
	gap: 33px;
}

.tarif-card__val,
.tarif-card__option {
	display: block;
	color: var(--color-gray2);
}

.tarif-card__row {
	display: flex;
	justify-content: space-between;
}

.tarif-card_active {
	background-color: var(--active-bg);

}

.tarif-card_active .tarif-card__val,
.tarif-card_active .tarif-card__option,
.tarif-card_active .tarif-card__header,
.tarif-card_active .tarif-card__desc {
	color: #fff;
}

.tarif-card__val_active {
	font-weight: 700;
	padding: 8px 16px;
	border: none;
	border-radius: 8px;
	background-color: #FFC736;
}

/* media */

@media (max-width: 1199.98px) {
	.tarif-card {
		padding: 48px 24px;
	}
	
	.tarif-card__wrapper {
		flex-direction: column;
	}
}