*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: 'Inter', sans-serif;
	font-size: 10px;
	font-weight: 500;
	font-style: normal;
	background-color: var(--color-bg);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: url('../images/cursor.png'), auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

.container {
	max-width: calc(var(--container-width) + (var(--padding-container) * 2));
	margin: 0 auto;
	padding: 0 var(--padding-container);
}