/* display */


.d-flex-h {
	display: flex;
	flex-direction: row;
}

.d-flex-v {
	display: flex;
	flex-direction: column;
}

.d-flex-row-sb {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.d-flex-col-sb {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.d-flex-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.hide {
	display: none;
}
