* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color: #333;
	font-style: normal;
}

body {
	background: linear-gradient(225deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%), linear-gradient(225deg, #FFA5A5 33.09%, rgba(255, 255, 255, 0.00) 82.34%), #F39494;
	font-weight: 400;
}

.form-register {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background: #FFFEFE;
	font-size: 10px;
	margin: 225px auto;
	padding: 72px 90px 90px;
	border: none;
	border-radius: 10px;
	max-width: 582px;

	display: flex;
	flex-wrap: wrap;
}

.form-title {
	color: #333;
	font-size: 3.6em;
	font-weight: 700;
	max-width: 383px;
	margin: auto;
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
}

.form-subtitle {
	color: #666;
	font-size: 1.8em;
	font-weight: 400;
	margin-bottom: 56px;
	width: 100%;
	flex: 1;
	text-align: center;
}

.link {
	color: #089FE0;
}

.fields-input {
	color: #999;
	background: #F5F5F5;
	font-size: 1.6em;
	font-style: italic;
	border: none;
	border-radius: 5px;
	padding: 5px 11px;
	margin: auto;
	margin-bottom: 22px;
	width: 100%;
}

.reg-names {
	width: calc(100% / 2 - 2px);
}

.register-btn {
	position: relative;
	background: #089FE0;
	color: #fff;
	font-size: 1.8em;
	height: 44px;
	width: 100%;
	padding: 9px 102px;
	border: none;
	border-radius: 5px;
	transition: background-color .2s ease;
}

.register-btn:hover {
	background: #0c82b4;
}

.register-btn::after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 24px;
	width: 22px;
	height: 22px;
	background: url('../icons/arrow.svg');
}

.agree {
	background: #F5F5F5;
	font-size: 1.4em;
	margin: 22px auto 0;
	max-width: 371px;
}
