* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.header {
	border-bottom: 1px solid #EDEDED;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}

.title {
	font-size: 4.8em;
	color: #050038;
	margin-bottom: 19px;
}

.subtitle {
	font-size: 1.8em;
	color: #050038;
	margin-bottom: 39px;
}

.section {
	display: flex;
	flex-wrap: wrap;
	gap: 65px;
	width: 100%;
}

.reverse {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: 65px;
	width: 100%;
}

.link {
	max-width: 133px;
	color: #4262FF;
	font-size: 1.8em;
}


.nav {
	height: 90px;
	margin-bottom: 60px;
}

.nav__list {
	list-style: none;
	height: 100%;
	display: flex;
	gap: 34px;
	align-items: center;
}

.nav__link {
	color: #050038;
	font-size: 1.6em;
	text-decoration: none;
}

.hero {
	font-size: 10px;
	margin-bottom: 210px;
}

.hero__title {
	max-width: 285px;
	margin-bottom: 17px;
}

.hero__subtitle {
	max-width: 424px;
	margin-bottom: 55px;
}

.hero__img {
	width: 100%;
	max-width: 604px;
	height: 461px;
}

.form {
	font-size: 10px;
}

.form__email {
	font-size: 1.8em;
	display: block;
	width: 440px;
	max-width: 100%;
	height: 48px;
	border-radius: 32px;
	border: 1px solid #9B99AF;
	padding: 10px 20px 10px 30px;
	margin-bottom: 10px;
}

.form__btn {
	font-size: 1.8em;
	color: #FFF;
	background: #4262FF;
	border: 1px solid #4262FF;
	border-radius: 32px;
	width: 165px;
	width: 440px;
	max-width: 100%;
	height: 51px;
	margin-bottom: 8px;
}

.form__free-card-text {
	font-size: 1.4em;
	color: #050038;
	width: 100%;
	max-width: 342px;
	margin-bottom: 47px;
}

.logos {
	display: flex;
	gap: 20px;
	align-items: center;
	height: 33px;
}

.logos__desc {
	color: #050038;
	font-size: 1.8em;
}

.logos__list {
	list-style: none;
	display: flex;
	gap: 19px;
}

.walmart {
	max-width: 60px;
}

.cisco {
	max-width: 39px;
}

.deloitte {
	max-width: 45px;
}

.volves {
	max-width: 27px;
}

.section {
	margin-bottom: 117px;
	align-items: center;
}
.section__title {
	max-width: 454px;
}

.section__subtitle {
	color: rgba(5, 0, 56, 0.60);
	width: 436px;
}

.section__img {
	max-width: 550px;
}

.reverse {
	margin-bottom: 90px;
	align-items: center;
}

.reverse__title { 
	max-width: 432px;
}

.reverse__subtitle {
	max-width: 429px;
	color: rgba(5, 0, 56, 0.60);
}

.footer {
	height: 117px;
	width: 100%;
	background: #050038;
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer__links {
	display: flex;
	gap: 20px;
	margin-left: 40px;
}

.footer__copyright {
	color: #FFF;
	font-size: 1.6em;
}

.footer__term-of-use {
	color: #FFF;
	font-size: 1.6em;
	text-decoration: none;
}