* {

	padding: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

h2 {
	color: #050038;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	margin: 0 0 19px 0;
}

section p {
	margin: 0 0 39px 0;
}

footer {
	background: #050038;
	padding: 47px 60px;
	color: #FFF;
}

footer a {
	text-decoration: none;
	font-size: 18px;
	color: #FFF;
}
.navigation {
	padding: 33px 50px;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 60px;
}

.navigation__link {
	color: #050038;
	text-decoration: none;
}

.section__title {
	font-size: 48px;
	color: #050038;
	margin: 0 0 17px 0;
}
.section__subtitle {
	margin: 0 0 55px 0;
}

.form__email {
	border-radius: 32px;
	border: 1px solid #9B99AF;
	height: 36px;
	padding: 5px 10px;
}

.form__button {
	height: 48px;
	padding: 10px 20px;
	border-radius: 32px;
	border: 1px solid #4262FF;
	background: #4262FF;
}

.form__subtitle {
	color: #050038;
	font-size: 14px;
	width: 342px;
	padding: 8px 0 47px 0;
	margin: 0;
}