body {
	box-sizing: border-box;
	background: linear-gradient(180deg, #374151 0%, #111827 100%);
	color: #FFF;
	padding: 0;
	margin: 0;
	font-weight: 400;
}

h1 {
	font-size: 24px;
	line-height: 1.6em;
	margin: 0 0 30px;
	max-width: 525px;
}

.header {
	width: 100%;
	font-size: 16px;
}

.nav {
	padding: 80px 0 80px 180px;
	max-width: 1080px;
	font-style: normal;
	font-size: 1em;
}

.logo {
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
}

.logo-symbol {
	font-weight: 600;
	border-radius: 3px;
	background: #4B5563;
	box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
	padding: 6px 12px;
	margin: 0 10px;
}

.nav-list {
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: #FFF;
}

.search {
	position: relative;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.search__input {
	height: 40px;
	max-width: 224px;
	border: none;
	border-radius: 100px;
	background: rgba(31, 41, 55, 0.60);
	padding: 10px 24px 10px 50px;
	font-size: 1em;
	color: #A9ADB3;;
}

.search::before {
	content: '';
	position: absolute;
	background: url('../icons/search.svg');
	width: 14px;
	height: 14px;
	color: #3D4653;
	top: 2px;
	left: 20px;
}	

.frontend-info {
	font-size: 14px;
	margin: 14px 0;
	max-width: 180px;
}

.frontend-info span::after {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 2px 6px;
	border-radius: 50%;
	background-color: #FFF;
}

.developer-info {
	font-size: 10px;
	color: #FFF;
	margin-bottom: 30px;
}

.developer-info__avatar {
	width: 50px;
	height: 50px;
}

.developer-info__name {
	font-size: 1.6em;
}

.developer-info__developer {
	font-size: 1.4em;
	color: #cac5c5;
}

.hero__image {
	margin: 0 10px 70px;
	max-width: 896px;
}

.paragraph {
	width: 100%;
	max-width: 708px;
	font-size: 20px;
}

.paragraph:not(:last-child) {
	margin-bottom: 35px;
}

.small-paragraph {
	font-size: 16px;
}

.copyright {
	font-size: 16px;
	color: #A0A3A9;
	max-width: 226px;
}

footer {
	margin: 80px;
	width: 100%;
}
