html {
	font-size: 10px;
}

body {
	box-sizing: border-box;
	background: linear-gradient(180deg, #374151 0%, #111827 100%);
	font-style: normal;
	font-weight: 400;
	color: #FFF;
	padding: 0;
	margin: 0;
}

.logo {
	font-size: 1.6rem;
}

nav {
	padding: 80px 0 80px 180px;
	max-width: 100%;
}

nav li {
	list-style: none;
}

nav a {
	color: #FFF;
	text-decoration: none;
}

nav input {
	border: none;
	border-radius: 100px;
	background: rgba(31, 41, 55, 0.60);
	width: 40vw;
	max-width: 224px;
	padding: 10px 10px;
}


h1 {
	font-size: 2.4em;
	line-height: 1.6em;
	margin: 0 0 30px;
	width: 100%;
	max-width: 525px;
}



.logo-symbol {
	font-weight: 600;
	border-radius: 3px;
	background: #4B5563;
	box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
	padding: 6px 12px;
	margin: 0 10px;
}

.frontend-info {
	font-size: 1.4rem;
	margin: 14px 0;
	max-width: 180px;
}

.frontend-info > span:nth-child(1)::after {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 2px 6px;
	border-radius: 50%;
	background-color: #FFF;
}

.developer-info {
	font-size: 1.6rem;
}

.developer-info__avatar {
	margin: 30px 16px;
	width: 50px;
	height: 50px;
}


.developer-info__developer {
	font-size: 1.4rem;
	color: #cac5c5;
}

.hero__image {
	margin-bottom: 70px;
	max-width: 100%;
}

.paragraph-text__block1 {
	font-size: 2rem;
	margin-bottom: 35px;
	width: 100%;
	max-width: 525px;
}

.paragraph-text__block2 {
	font-size: 1.6rem;
	width: 100%;
	max-width: 525px;
}

footer p {
	font-size: 1.6rem;
	margin: 80px;
	max-width: 226px;
	opacity: 0.6;
}
